body {
	margin:0; /* marge exterieure */
	padding:0; /* marge intérieure */
}

/* pour toutes les <div> enfants directs de <body> */
body>div {
	width:50%; /* 1/2 de la largeur de l'écran */
	height:50%; /* 1/2 heuteur */
	float:left; /* aligner les blocs a gauche les uns derriere les autres */
}

#bu_flash {
	position:fixed; /* position fixe par rapport au coin supérieure gauche de la fenetre */
	width:240px;
	height:160px; /*240px-80px de padding*/
	padding-top:80px;
	top:50%;
	left:50%;
	margin:-120px 0 0 -120px; /* marge H D B G */
	background-color:rgba(200,50,90,0.5);
	border-radius:120px;
	text-align:center;
}
