/*
	REFERENCE CSS
	http://www.w3schools.com/cssref/

  commentaires
  multi-lignes
*/

/* je vais styler toutes les balises H1 de mes pages
	
	selecteur {
			propriete1 : valeur1;
			propriete2 : valeur2;
	}
*/

h1 {
	color:rgba(0,255,150,1);
	text-decoration:underline;
}

/*
	HTML: <x class="toto">...</x>
	CSS: .toto
*/
.couleurAToto {
	color:green;
}

body {
	color:#FFF; /* texte en blanc */
	background-color:#000; /* fond en noir */
}






